<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Perguntas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<img src="/img/img.png" alt="">

    <h1>Guia de perguntas!</h1>
    <h2>Bem vindo <%= nome %> </h2>

    <% if(msg == true){  %>
        <h3>Houve um erro!!</h3>
    <%}else{%>
        <h3>tudo normal</h3>
    <%}%>


    <%produtos.forEach((produto) => { %>
        <hr>
        <h3><%= produto.nome %> </h3>
        <h4><%= produto.preco %></h4>
    <% }) %>
</body>
</html>